<!-- <mat-toolbar color="primary">
  <div class="container nav">
    <div class="content-container">
      <div class="title">Gerenciador de Produtos</div>
    </div>
    <div class="list-nav">
      <ul>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Lojas</a></li>
        <li><a href="#">Lista completa de Produtos</a></li>
      </ul>
    </div>
  </div>
</mat-toolbar> -->

<nav class="navbar navbar-expand-lg navbar-black bg-black">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Produtos</a>
        <a class="nav-link" routerLink="/lista">Lojas</a>
        <a class="nav-link" routerLink="/add">Produtos em Lojas</a>
      </div>
    </div>
  </div>
</nav>

