<div class="action-container">
    <a mat-raised-button color="primary" [routerLink]="['/create-product']">Criar produto</a>
</div>

@for (store of stores(); track store.id) {
    @defer (on immediate) {
        <div class="item-container">
            <app-card 
                    [store]="stores" 
                    (edit)="onEdit(store)" 
                    (delete)="onDelete(store)">
                </app-card>
            </div>
        }
} 
@empty {
    @defer (on immediate) {
        <app-no-items></app-no-items>
    }
}
