/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-container {
    max-width: 450px;
    width: 100%;
}
// .div-home {
//   background-image: url('./assets/loja.jpg');
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   // width: 100%;
//   // height: 100%;
//   opacity: 0.5;
  
// }